

exports.apis = {
    "version_one": {
        "host": "www15.v1host.com",
        "port": 443,
        "name": "hello",
        "project": 42,
        "auth": "",
        "poll_interval": 1000 * 60 * 5
    },
    "github": {
        "url": "https://github.com",
        "port": 443,
        "org": "racker",
        "repos": ["reach"],
        "username": "asdf",
        "apikey": "really_secure",
        "poll_interval": 1000 * 60 * 5
    }
};